$grey: #ddd;
$border-radius: 4px;
.collapseItem {
  
  > .title { 
    border: 1px solid $grey; 
    margin-top: -1px; 
    margin-left: -1px; 
    margin-right: -1px;
    min-height: 40px; 
    display: flex; 
    align-items: center; 
    padding: 0 8px;
    // background: lighten($grey, 8%);
    background-color: #ffffff;
  }
  &:first-child {
    > .title { 
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius; 
     }
  }
  &:last-child {
    > .title:last-child { 
      border-bottom-left-radius: $border-radius; 
      border-bottom-right-radius: $border-radius; 
    }
  }
  // > .content { padding: 8px; }

}