  $prefix: "alice-field";
@import '../style/var.scss';
  .alice-field {
    display: flex;
    &-core {
      appearance: none;
      border-radius: 0;
      border: 0;
      flex: 1;
      outline: 0;
      line-height: 1.6;
      font-size: inherit;
      width: 100%;
    }
     input[disabled] {
        background-color: white;
        color: $gray;
      }
    &-textarea {
      padding: 0;
      box-sizing: border-box;
      resize:none;
      background: {
        image: linear-gradient(0deg, $color-grey, $color-grey 50%, transparent 50%);
        size: 100% 1px;
        repeat: no-repeat;
        position: bottom;
      }
    }
  }
  // .#{$prefix}-core {
  //   appearance: none;
  //   border-radius: 0;
  //   border: 0;
  //   flex: 1;
  //   outline: 0;
  //   line-height: 1.6;
  //   font-size: inherit;
  //   width: 100%;
  // }
  // .#{$prefix}-textarea {
  //   padding: 0;
  //   box-sizing: border-box;
  //   resize:none;
  //   background: {
  //     image: linear-gradient(0deg, $color-grey, $color-grey 50%, transparent 50%);
  //     size: 100% 1px;
  //     repeat: no-repeat;
  //     position: bottom;
  //   }
  // }
  .is-textarea {
    align-items: inherit;
  }
  .alice-field-right {
    margin-left: 20px;
  }
  .alice-field /deep/ 
  {
    .alice-cell-title {
        width: 105px;
        flex: none;
      }
    .alice-cell-value {
      flex: 1;
      color: inherit;
      display: flex;
    }
    .text-left {
      text-align: left;
    }  
    .text-right {
      text-align: right;
    }  
  }