
@import '../style/var.scss';
$prefix: "alice-btn";
.alice-btn {
  position: relative;
  padding: 0;
  display: flex;
  height: 44px;
  line-height: 42px;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  outline: none;
  justify-content: center;
  align-items: center;

  &-default {
    color: $button-default-color;
    background-color: $button-default-background-color;
    border: 1px solid $button-default-border-color;
  }
  &-primary {
    color: $button-primary-color;
    background-color: $button-primary-background-color;
    border: 1px solid $button-primary-border-color;
  }
  &-danger {
    color: $button-danger-color;
    background-color: $button-danger-background-color;
    border: 1px solid $button-danger-border-color;
  }
  &-large {
    width: 100%;
    height: 50px;
    line-height: 48px;
  }
  &-normal {
    padding: 0 15px;
    font-size: 14px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: $black;
    background-color: $black;
    border-radius: inherit; /* inherit parent's border radius */
    transform: translate(-50%, -50%);
  }

  &:active::before {
    opacity: .15;
  }
  
  &-disabled {
    opacity: .5;
  }
  
  &-round {
    border-radius: 10em;
  }
  
  &-square {
    border-radius: 0;
  }
  
  &-left, &-right {
    vertical-align: middle;
    display: inline-block;
  }
  &-text {
    padding: 0 5px;
  }
}

// color
// .#{$prefix}-default {
//   color: $button-default-color;
//   background-color: $button-default-background-color;
//   border: 1px solid $button-default-border-color;
// }
// .#{$prefix}-primary {
//   color: $button-primary-color;
//   background-color: $button-primary-background-color;
//   border: 1px solid $button-primary-border-color;
// }
// .#{$prefix}-danger {
//   color: $button-danger-color;
//   background-color: $button-danger-background-color;
//   border: 1px solid $button-danger-border-color;
// }

// // size
// .#{$prefix}-large {
//   width: 100%;
//   height: 50px;
//   line-height: 48px;
// }

// .#{$prefix}-normal {
//   padding: 0 15px;
//   font-size: 14px;
// }

// .#{$prefix}-small {
//   height: 30px;
//   padding: 0 8px;
//   min-width: 60px;
//   font-size: 12px;
//   line-height: 28px;
// }

// // 点击
// .#{$prefix}::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   opacity: 0;
//   width: 100%;
//   height: 100%;
//   border: inherit;
//   border-color: $black;
//   background-color: $black;
//   border-radius: inherit; /* inherit parent's border radius */
//   transform: translate(-50%, -50%);
// }

// .#{$prefix}:active::before {
//   opacity: .15;
// }



// .#{$prefix}-disabled {
//   opacity: .5;
// }

// .#{$prefix}-round {
//   border-radius: 10em;
// }

// .#{$prefix}-square {
//   border-radius: 0;
// }

// .#{$prefix}-left, .#{$prefix}-right {
//   vertical-align: middle;
//   display: inline-block;
// }
// .#{$prefix}-text {
//   padding: 0 5px;
// }
